<!DOCTYPE html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Chasi Framework </title>
    <style>
      html {
        overflow: hidden !important;
      }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css" integrity="sha512-IgmDkwzs96t4SrChW29No3NXBIBv8baW490zk5aXvhCD8vuZM3yUSkbyTBcXohkySecyzIrUwiF/qV0cuPcL3Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body style = "margin: 0; padding 0; height:100vh; width:100vw; overflow: hidden;">
    <div style = "height:100%; flex-direction:column; display:flex; justify-content: center; align-items: center">
      <h1 class = "title" style = "color:#555">
          Chasi Framework
      </h1>
      <span class = "subtitle"  style = "color: grey; margin-bottom: 1px" contenteditable>
        build something amazing!
      </span>
      <div class = "buttons " style = "padding-top:13px; display: flex; flex-direction: row; justify-content: space-evenly; width:380px">
        <a target = "_new" class = "button is-link is-inverted" style = "color: grey; margin-bottom: 1px"  href="/chasi/docs">
          <span class="panel-icon " >
            <i class="fas fa-book" aria-hidden="true"></i>
          </span>
          Docs
        </a>
        <a target = "_new" class = "button is-link is-inverted" style = "color: grey; margin-bottom: 1px"  href="https://castmonkeys.com">
          <span class="panel-icon " >
            <i class="fas fa-at" aria-hidden="true"></i>
          </span>
          castmonkeys
        </a>
        <a target = "_new" class = "button is-link is-inverted" style = "color: grey; margin-bottom: 1px"  href="https://github.com/rocketbean/chasi">
          <span class="panel-icon " >
            <i class="fab fa-github" aria-hidden="true"></i>
          </span>
          Github
        </a>
      </div>
    </div>
  </body>
</html> 